@font-face {
  font-family: "SE";
  src: url("/static/branding/fonts/SE-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SE";
  src: url("/static/branding/fonts/SE-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SE";
  src: url("/static/branding/fonts/SE-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SE";
  src: url("/static/branding/fonts/SE-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --blue-dark: #0027b9 !important;
  --blue-main: #0076ff !important;
  --orange: #0076ff !important;
  --text-dark: #0f172a !important;
}

body, button, input, select, textarea {
  font-family: "SE", "Segoe UI", Tahoma, Arial, sans-serif;
}
